
.contenido
{

}

.contenido .BLO1 {
  background-color: rgba(57, 77, 87, 0.781);
  display: inline-block;
  border: 15px solid rgb(247, 240, 240);
  width: 15cm;
  height: 10cm;
}
.contenido .BLO2 {
  background-color: rgba(57, 77, 87, 0.781);
  display: inline-block;
  border: 15px solid rgb(247, 240, 240);
  width: 15cm;
  height: 10cm;
}
.contenido .BLO3 {
  background-color: rgba(57, 77, 87, 0.781);
  display: inline-block;
  border: 15px solid rgb(247, 240, 240);
  width: 15cm;
  height: 10cm;
}
.contenido .BLO4 {
  background-color: rgba(57, 77, 87, 0.781);
  display: inline-block;
  border: 15px solid rgb(247, 240, 240);
  width: 15cm;
  height: 10cm;
}
.contenido .BLO5 {
  background-color: rgba(57, 77, 87, 0.781);
  display: inline-block;
  border: 15px solid rgb(247, 240, 240);
  width: 15cm;
  height: 10cm;
}
.contenido .BLO6 {
  background-color: rgba(57, 77, 87, 0.781);
  display: inline-block;
  border: 15px solid rgb(247, 240, 240);
  width: 15cm;
  height: 10cm;
}


